
<div class="flex justify-end items-center gap-x-2 mt-4 py-2 px-4">
  @if (currentPage > 1) {
  <app-button
    bgColor="bg-purple-700"
    textColor="text-white"
    [icon]="faChevronLeft"
    (clicked)="changePage(currentPage - 1)"
  ></app-button>
  }
  <div class="flex items-center gap-x-2">
    @for (page of visiblePages; track $index) { @if (page === -1) {
    <span class="p-2">...</span>
    } @else if (page === currentPage) {
    <span class="bg-purple-700 text-white p-2 rounded-lg">{{ page }}</span>
    } @else {
    <app-button
      bgColor="bg-gray-300"
      textColor="text-black"
      text="{{ page }}"
      (clicked)="changePage(page)"
    ></app-button>
    } }
  </div>
  @if (currentPage < totalPages) {
  <app-button
    bgColor="bg-purple-700"
    textColor="text-white"
    [icon]="faChevronRight"
    (clicked)="changePage(currentPage + 1)"
  ></app-button>
  }
</div>

