<div data-aos="fade-up">
  <div class="py-2 px-4 pb-8">
    <h2 class="text-purple-700 font-bold">Lista De Usuarios</h2>
  </div>
  <div class="bg-white w-full rounded-2xl p-4">
    <div class="flex justify-between items-center mb-4">
      <app-button
        text="Nuevo"
        bgColor="bg-purple-700"
        textColor="text-white"
        [icon]="getIcon('plus')"
        (clicked)="openModal()"
      >
      </app-button>
      <div class="">
        <app-search-input />
      </div>
    </div>
    <div>
      <app-table
        [headers]="headers"
        [data]="data"
        keyField="codUsu"
        (actionClicked)="handleAction($event)"
      ></app-table>
    </div>
  </div>
</div>

<app-modal>
  <div modal-create>
    <app-user-modal (questionCreated)="refreshData()"></app-user-modal>
  </div>
  <div modal-edit><app-user-modal [data]="usuario" (questionCreated)="refreshData()"></app-user-modal></div>
</app-modal>

@if (isLoading) {
  <app-loading />
}
