<div class="overflow-x-auto rounded-lg shadow-md">
  <table class="min-w-full border border-gray-300 ">
    <!-- Encabezado -->
    <thead
      class="bg-gray-500 text-gray-700 dark:text-gray-100"
    >
      <tr>
        <th class="px-6py-2 text-center">N°</th>
        @for (header of headers; track $index) {
        <th class="px-6 py-3 text-left text-sm font-semibold uppercase">
          {{ header.label }}
        </th>
        }
        <th class="px-6 py-3 text-center text-sm font-semibold uppercase">
          Acciones
        </th>
      </tr>
    </thead>

    <!-- Cuerpo de la tabla -->
    <tbody class="divide-y divide-gray-600 ">
      @for (item of paginatedData; track $index) {
      <tr class="hover:bg-gray-100 ">
        <td class="px-6py-2 text-center">{{$index +1}}</td>
        @for (header of headers; track $index + 1 ) {
        <td class="px-6 py-2 text-sm capitalize">
          @if (header.key === 'image')
          { @if (item[header.key]) {
          <img
            src="{{ item[header.key] }}"
            alt="{{ item[header.key] }}"
            class="w-10 h-10 rounded-full object-cover"
          />
          } @else {
          <span>No Image</span>
          } } @else {
          {{ item[header.key] }}
          }
        </td>
        }
        <td class="px-6 py-2 text-center">
          <app-action-button
            action="edit"
            [id]="item[keyField]"
            (actionClicked)="openModal($event)"
          ></app-action-button>
          <app-action-button
            action="delete"
            [id]="item[keyField]"
            (actionClicked)="openModal($event)"
          ></app-action-button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <app-paginator
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="changePage($event)"
  ></app-paginator>
</div>
