@import "tailwindcss";

@theme {

  --color-primary-50: #f2f0fd;
  --color-primary-100: #e8e4fb;
  --color-primary-200: #d7cef7;
  --color-primary-300: #c0b0f1;
  --color-primary-400: #ad90e9;
  --color-primary-500: #9e75df;
  --color-primary-600: #925ad1;
  --color-primary-700: #804ab8;
  --color-primary-800: #673f94;
  --color-primary-900: #4c336b;
  --color-primary-950: #322145;





}
